{% load comments i18n crispy_forms_tags %}
{#评论框#}
{% get_comment_form for post as blog_form %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 id="comment_title">发表评论</h4>
        <button id="reply_cancel" class="btn btn-warning comment_title_btn" style="display: none;">取消回复</button>
        <p id="reply_text_pre" style="display: none;"></p>
    </div>

    <div class="panel-body">
        <form id="comment_form" class="form-horizontal" method="post" action="{% comment_form_target %}" role="form">
            {##}
            {% csrf_token %}
            {% if next %}
                <div><input type="hidden" name="next" value="{{ next }}"/></div>
            {% endif %}

            {# 必须的字段 #}
            {{ blog_form.object_pk }}
            {{ blog_form.content_type }}
            {{ blog_form.timestamp }}
            {{ blog_form.site }}
            {{ blog_form.submit_date }}
            {{ blog_form.security_hash }}

            {# 用户名字段，这个后面会修改为登录用户评论，无需填这个 #}
            <div class="control-group">
                <label class="control-label" for="id_name">名称： </label>
                <div class="controls">
                    <input type="text"
                           id="id_name" class="input-xlarge" name="name"
                           placeholder="请输入您的用户名"
                           value="{{ user.username }}"/>
                </div>
            </div>

            {# 邮箱地址字段 #}
            <div class="control-group">
                <label class="control-label" for="id_email">邮箱： </label>
                <div class="controls">
                    <input type="email"
                           id="id_email" class="input-xlarge" name="email"
                           placeholder="请输入您的邮箱地址"
                           value="{{ user.email }}"/>
                </div>
            </div>

            {# 评论内容 #}
            <a name="newcomment" id="newcomment"></a>
            <div class="control-group">
                <label class="control-label" for="id_comment">评论： </label>
                <div class="controls">
                    {#            <textarea rows="6" id="id_comment" class="input-xlarge comment" name="comment" placeholder="请输入评论内容"> </textarea>#}
                    <textarea id="id_comment" name="comment" class="form-control" rows="4"
                              placeholder="请输入评论 限200字!"></textarea>
                </div>
            </div>

            {# 防垃圾评论 #}
            <p style="display:none;">
                <label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label>
                <input type="text" name="honeypot" id="id_honeypot">
            </p>

            {# 表单按钮 #}
            <div class="controls">
                <div class="form-actions">
                    <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提交"/>
                    {#             评论后返回的页面重定向到当前页面 #}
                    <input type="hidden" name="next" value="{% url 'myApp1:detail' post.id %}"/>
                </div>
            </div>
        </form>
    </div>

</div>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script language="javascript" type="text/javascript">

    $('#comment_form').submit(function () {
        {#获取csrf验证#}

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        //以上是获取验证
        {#alert('yes');#}
        var url = $('#comment_form').attr('action');
        {#alert(url)#}
        var comment = from.serialize();
        {#alert(comment)#}
        $.ajax({
            type: "POST",
            url: url,
            data: {"comment": $("#comment_form").val()},
            success: function (data, textStatus) {
                $("#comment_form").val("");
                $(".vmaig-comment ul").prepend(data);
                console.log('success!')
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('error!!!');


            }

        });
        return false;
    });


    $("button").click(function () {
        $('#comment_form').submit();
    })
</script>
