certifi==2018.4.16
chardet==3.0.4
Django==2.0.5
django-contrib-comments==1.8.0
django-crispy-forms==1.7.2
django-crontab==0.7.1
django-js-asset==1.2.1
django-markdown==0.8.4
django-mptt==0.9.1
django-threadedcomments==1.2
idna==2.6
lxml==4.3.1
Markdown==2.6.11
Pillow==5.4.1
Pygments==2.3.1
pytz==2018.4
requests==2.18.4
urllib3==1.24.2
