{% extends "base.html" %}

{% block body %}
    <!--/超小屏幕可见-->
    <div class="content-wrap"><!--中间内容-->
        <div class="content">
            <!-- 中间最新评论 -->
            <div class="content-block comment-content">
                <h2 class="title"><strong>最新文章</strong></h2>
                <ul>
                    {% if dates %}
                        {% regroup dates by year as dates_by_year %}
                        {% for foo in dates_by_year %}
                            <div class="grid" style="background: rgba(255,255,255,.1);">
                                <li> <span class="text">
                                    {{ foo.grouper }}
                                </span>
                                </li>
                                {% for i in foo.list %}
                                    <li>{{ i }}</li>
                                {% endfor %}
                            </div>
                            <hr/>
                        {% endfor %}
                    {% else %}
                        <p style="color:blue;">the guy is so lazy.....</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    </div>



{% endblock %}