{% extends "base.html" %}

{% block body %}

    <!--/超小屏幕可见-->
    <div class="content-wrap"><!--中间内容-->
        <div class="content">

            <!-- 中间最新评论 -->
            <div class="content-block comment-content">
                <h2 class="title"><strong>个人简介</strong></h2>
                <ul>
                    <li>姓名：{{ request }}</li>
                    <br/>
                    <li>地址：</li>
                </ul>
            </div>


        </div>
    </div>
    </div>

    <script type="text/javascript">
            function read() {
                var str = sessionStorage.getItem("username");
                alert(str);
            }
    </script>

{% endblock %}