{% load staticfiles %}
{% load blog_tag %}

<html>

<head>
    <meta charset="UTF-8">
    <title>FanMing</title>
</head>

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/article_detail.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/moodList.css' %}"/>

{#markdown样式文件#}
<link rel="stylesheet" type="text/css" href="{% static 'css/github.css' %}"/>


<link href="{% static 'images/logo_small/54.jpg' %}" rel="shortcut icon"/>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--<script type="text/javascript" src="plugin/jquery.page.js"></script>-->
<!--<script src="js/common.js"></script>-->
<!--<script src="js/snowy.js"></script>-->


<body>
<div class="w_header">
    <div class="container">
        <div class="w_header_top">
            <a href="/" class="w_logo"></a>
            <span class="w_header_nav">

					<ul>
						<li><a href="/" class="active">首页</a></li>
						<li><a href="/category">分类</a></li>
						<li><a href="/tags">标签</a></li>
{#						<li><a href="">学习</a></li>#}
						<li><a href="/timeLine">时间轴</a></li>
						<li><a href="/messageB">留言</a></li>
                        <li> <a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=961118830"
                                target="class">QQ</a></li>

					</ul>
				</span>
            <div class="w_search">
                <div class="w_searchbox">
                    <input type="text" placeholder="search"/>
                    <button>搜索</button>
                </div>
            </div>
        </div>
    </div>
</div>

{#侧边公告栏#}
<div id="thediv">
    <p style="text-align:center;margin-top: 90px">博客各项功能正在完善，希望你能提出宝贵的意见和建议</p>
    <span>公告栏</span>
</div>


<div class="w_container">
    <div class="container">

        {% block main %}
        {% endblock %}

    </div>
</div>

<div class="w_foot">
    <div class="w_foot_copyright">Copyright &copy; 2017-2018, www.fanming.com. All Rights Reserved.
    </div>
</div>

{#公告栏的样式和位置#}
<style>

    #thediv {
        width: 140px;
        height: 200px;
        background: #c3ffea;
        position: absolute;
        top: 55px;
        left: -140px;
        border-radius: 0 5px 5px 0;
    }

    #thediv span {
        width: 20px;
        height: 70px;
        line-height: 23px;
        background: #09C;
        position: absolute;
        right: -20px;
        top: 70px;
        border-radius: 0 5px 5px 0;
    }
</style>
<script>
    window.onload = function () {
        var odiv = document.getElementById('thediv');
        odiv.onmouseover = function () {
            startmove(0, 10);
        }
        odiv.onmouseout = function () {
            startmove(-140, -10);
        }
        var timer = null;

        function startmove(target, speed) {
            var odiv = document.getElementById('thediv');
            clearInterval(timer);
            timer = setInterval(function () {
                if (odiv.offsetLeft == target) {
                    clearInterval(timer);
                }
                else {
                    odiv.style.left = odiv.offsetLeft + speed + 'px';
                }
            }, 30)
        }

        var pic = document.getElementById("thediv");
        var leader = 0;
        var target = 0;
        var timer = null;
        var top = pic.offsetTop;
        window.onscroll = function () {
            clearInterval(timer);
            target = scroll().top + top;
            timer = setInterval(function () {
                leader = leader + (target - leader) / 10;
                pic.style.top = leader + "px";
            }, 30)
        }


        function scroll() {
            if (window.pageYOffset != null) // ie+ 和其他浏览器 兼容
            {
                return {
                    left: window.pageXOffset,
                    top: window.pageYOffset
                }
            }
            else if (document.compatMode == "CSS1Compat") //声明 DTD 的都支持
            //CSS1Compat不是怪异 检测是否是 怪异模式 没有DOCTYPE的
            {
                return {
                    left: document.documentElement.scrollLeft,
                    top: document.documentElement.scrollTop
                }
            }
            return {
                //剩下的就是怪异模式的
                left: document.body.scrollLeft,
                top: document.body.scrollTop
            }
        }

    }
</script>


</body>

</html>