{% extends "baseNew.html" %}
{% load blog_tag %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}"/>
<link rel="stylesheet" href="{% static 'css/jquery.page.css' %}">
<link href="logo.ico" rel="shortcut icon"/>
<script type="text/javascript" src="{% static 'js/jquery.page.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<!--<script src="js/snowy.js"></script>-->


{% block main1 %}




    <div class="col-lg-9 col-md-9 w_main_left">
        <div class="panel panel-default">
            <div class="panel-body contentList">

                <article class="article article-categories article-type-list" itemscope="">
                <!-- header -->
                <header class="content-block comment-content">
                    <h2 class="title"><strong>文章分类</strong></h2>

                    {% get_category as category %}

                    <p class="text-muted hidden-xs" style="">
                            <a href="/category">All</a>
                            {% for foo in category %}
                                <a href="/categorys/{{ foo.pk }}">{{ foo.name }}({{ foo.num_posts }})</a>
                            {% endfor %}
                    </p>

                </header>
                <!-- /header -->

                <div class="article-body">
                    {% regroup article by category as cate_gro %}
                    {% for foo in cate_gro %}
                        <div class="panel panel-default b-no">
                            <div class="panel-heading" role="tab">
                                <h3 class="panel-title">
                                    <a data-toggle="collapse" href="#{{ foo.grouper }}" aria-expanded="true">
                                        <i class="glyphicon glyphicon-erase"></i>
                                        {{ foo.grouper }}
                                    </a>
                                    <small class="text-muted"></small>
                                </h3>
                            </div>

                            <div id="{{ foo.grouper }}" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headinglinux">
                                <div class="panel-body">
                                    <div class="collection">

                                        {% for arcitle in foo.list %}
                                            <p><a href="/post/{{ arcitle.pk }}" class="collection-item"
                                                  itemprop="url">{{ arcitle.title }}</a></p>
                                        {% endfor %}


                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                </div>

            </article>


            </div>
        </div>

    </div>

{% endblock %}






