{% extends "base.html" %}
{% load staticfiles %}
{% load threadedcomments_tags %}
{% block body %}
    <!--/超小屏幕可见-->
    <div class="content-wrap"><!--中间内容-->
        <div class="content">
            <article class="post post-{{ post.pk }}">
                <header class="entry-header">
                    <h2 class="entry-title"><strong>{{ post.title }}</strong></h2>
                    <div class="entry-meta">
                        <span class="post-category"><a href="/category">{{ post.category.name }}</a></span>
                        <span class="post-date"><a href="#">
                    <time class="entry-date"
                          datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                        阅读：<span id="busuanzi_value_page_pv"></span>次<br/>
                    </div>
                </header>
                <div class="entry-content clearfix">
                    {{ post.body|safe }}
                </div>
            </article>


            <div class="panel panel-default">

                <h4>Comments for: {{ post.title }}:</h4>
                {#评论框#}
                {% render_comment_form for post %}
                <hr>
                {#评论列表#}
                {% render_comment_list for post %}

            </div>


        </div>
    </div>
    </div>


{% endblock %}
