{% extends "base.html" %}

{% block body %}
    <!--/超小屏幕可见-->
    <div class="content-wrap"><!--中间内容-->
        <div class="content">
            <!-- 中间最新评论 -->
            <article class="post post-{{ post.pk }}">
                <header class="entry-header">
                    <h2 class="entry-title"><strong>{{ post.title }}</strong></h2>
                    <div class="entry-meta">
                        <span class="post-category"><a href="/category">{{ post.category.name }}</a></span>
                        <span class="post-date"><a href="#">
                    <time class="entry-date"
                          datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    </div>
                </header>
                <div class="entry-content clearfix">
                    {{ post.body|safe }}
                </div>
            </article>
            <!-- 来必力City版安装代码 -->
            <div id="lv-container" data-id="city" data-uid="MTAyMC8zNTE5OC8xMTczMw==">
                <script type="text/javascript">
                    (function (d, s) {
                        var j, e = d.getElementsByTagName(s)[0];

                        if (typeof LivereTower === 'function') {
                            return;
                        }

                        j = d.createElement(s);
                        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                        j.async = true;

                        e.parentNode.insertBefore(j, e);
                    })(document, 'script');
                </script>
                <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
            </div>
            <!-- City版安装代码已完成 -->

        </div>
    </div>
    </div>



{% endblock %}