{% extends "baseDate.html" %}
{% load staticfiles %}




{% block Date %}

        {#                面包屑#}
        <ol class="breadcrumb w_breadcrumb">
            <li><a href="#">首页</a></li>
            {#            <li><a href="#">文章</a></li>#}
            <li class="active">留言板</li>
            <span class="w_navbar_tip">我们长路漫漫，只因学无止境。</span>
        </ol>

        {#                正文内容#}
    <div class="col-lg-9 col-md-9 w_main_left">
        <div class="panel panel-default">
            <div class="panel-body contentList">

                {% include 'comment.html' %}

                <div class="bloglist_1"></div>


            </div>
        </div>
    </div>




{% endblock %}

