{#此页面用来渲染评论列表#}

{% load mptt_tags %}
{#<ul>#}
{#    {% recursetree mmm %}#}
{#        <li>#}
{#            {{ node.name }}#}
{#            {% if not node.is_leaf_node %}#}
{#                <ul class="children">#}
{#                    {{ children }}#}
{#                </ul>#}
{#            {% endif %}#}
{#        </li>#}
{#{% endrecursetree %}#}
{##}
{#</ul>#}


{#{% for foo in mmm %}#}
<div class="bloglist">
    {% recursetree mmm %}

        <div class="shadow-box" id="cmt912"
             style="visibility: visible; animation-name: fadeInDown;">
            <div class="msgimg">
            </div>
            <div class="msgtxt">
                <div class="msgname">
                    <a href="#" target="_blank">{{ node.name }}</a>
                    <span class="LevelName auleve"></span>
                    <span>{{ node.createDate|date:'Y-n-j' }} {{ node.createDate|time:'H:i' }}
{#                            <a href="#comment-912" onclick="commentReply(912,this)"#}
{#                               class="comment-reply-link">回复</a>#}
                </span>
                    <div class="msgarticle">
                        {{ node.content }}
                    </div>
                    {% if not node.is_leaf_node %}
                        {{ children }}

                    {% endif %}
                </div>
            </div>
        </div>


        <style>

            .shadow-box {
                border-radius: 2px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
                font-size: 12px;
                line-height: 22px;
                border: 1px solid #ddd;
                padding: 10px;
                margin-bottom: 15px;
            }

            .msgtxt {
                position: relative;
                font-size: 14px;
                font-size: 1.2em;
            }

            #comments, .msg, .msgname {
                color: #999999;
                padding-top: 2px;
            }
        </style>


        {##}
        {#            <div class="sy">#}
        {##}
        {#                <p id="content1">{{ node.content }}</p>#}
        {##}
        {#            </div>#}
        {##}
        {#            <p style="float: right;"><input type="button" class="huifu" id={{ node.pk }} value="回复"></p>#}
        {#            <p class="bloglist_count">#}
        {#                            <span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">{{ node.name }}</a></span>#}
        {#                <span class="count"><i class="glyphicon glyphicon-time"></i>{{ node.createDate|time:'H:i' }}</span>#}
        {#            </p>#}
        {#            <span class="dateview">{{ node.createDate|date:'Y-n-j' }}</span>#}
        {##}
        {##}
        {#            {% if not node.is_leaf_node %}#}
        {##}
        {#                <div class="sy">#}
        {#                    <p id="content1">{{ children }}</p>#}
        {#                </div>#}
        {#            {% endif %}#}

        </ul>
    {% endrecursetree %}
</div>
{#{% endfor %}#}