{#此页面用来渲染评论列表#}

{% load mptt_tags %}

<div class="bloglist">
    {% recursetree mmm %}

        <div class="shadow-box" id=""
             style="visibility: visible; animation-name: fadeInDown;">
            {#            <div class="msgimg">#}
            {#            </div>#}
            <div class="msgtxt">
                <div class="msgname">
                    <a href="#" target="_blank">{{ node.name }}</a>
                    <span class="LevelName auleve"></span>
                    <span>{{ node.createDate|date:'Y-n-j' }} {{ node.createDate|time:'H:i' }}</span>

                    <div class="msgarticle">
                        {{ node.content }}

                        <span><a class="huifu" id={{ node.pk }} a={{ node.name }}
                                 href="#">&nbsp;&nbsp;&nbsp;回复</a> </span>
                    </div>
                    {% if not node.is_leaf_node %}
                        {{ children }}

                    {% endif %}
                </div>
            </div>
        </div>


        <style>

            .shadow-box {
                border-radius: 2px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
                font-size: 12px;
                line-height: 22px;
                border: 1px solid #ddd;
                padding: 10px;
                margin-bottom: 15px;
            }

            .msgtxt {
                position: relative;
                font-size: 14px;
                font-size: 1.2em;
            }

            #comments, .msg, .msgname {
                color: #999999;
                padding-top: 2px;
            }
        </style>



    {% endrecursetree %}
</div>
