<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <!-- Bootstrap core CSS -->

</head>


  <div class="content-wrap"><!--中间内容-->
    <div class="content">
        <!-- 中间最新评论 -->
          <div class="content-block comment-content">
              <h2 class="title"><strong>最新文章</strong></h2>
              <ul>
                  {% if list %}
                      {% for articles in list %}
                          <div class="grid" style="background: rgba(255,255,255,.1);">
                              <li> <span class="text">
                                  <h3>{{ articles.article_name }}</h3><br/>
                 发布于：{{ articles.article_time.strftime("%a, %d %b %Y %H:%M:%S") }} <br/>
                                  {{ articles.article_content }}</span>
                              </li>
                          </div>
                          <hr/>
                      {% endfor %}
                  {% else %}
                      <p style="color:blue;">the guy is so lazy.....</p>
                  {% endif %}
              </ul>
          </div>
      </div>
    </div>
  </div>


  </html>